# top-most EditorConfig file
root = true

# Default (Unix style with tabs)
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab

# python
[*.py]
indent_style = space
indent_size = 4

# ruby
[{*.rb,Vagrantfile}]
indent_style = space
indent_size = 2

# Make
[Makefile]
indent_style = tab

# Yaml
[{*.yaml,*.yml}]
indent_style = space
indent_size = 2

# Generated
[{package.json}]
indent_style = space
indent_size = 2
